<a href="https://colab.research.google.com/github/Farhanayousuf248/GIAIC-Q1_python-Agentic_AI-/blob/main/class_3__4practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=" hi Farhana "
print (name)

 hi Farhana

 🚀**0perators**

🧑‍💻 There are 4 types of Operators....

🛸1: Arthimatic operators .

🛸2: Assignment operators .

🛸3: Comparison operators .

🛸4: Logical Operators .

1️⃣ *Arthimatic operators* ...

In [ ]:
## Use in +,-,*,/,etc

In [ ]:
#7+5 =12
print (7+5)
print (10-6)
print (10*2)
print (5*8)

12
4
20
40

2️⃣ *Assignment operators* ....

In [ ]:
# Assignment operators
num1:int=5
num2:int=5
sum:int=num1-num2
print (sum)

0

In [ ]:
sum:int=num1+num2
print (sum)

sub:int=num1-num2
print (sub)

mul:int=num1*num2
print (mul)

div:int=num1/num2
print (div)

10
0
25
1.0

 ✅Use in double ......

In [ ]:
print (5//5).
print (3**2).
print (8^2) .

1
9
10

💡Arthimatic operators and Assignment operators used with variables..

In [ ]:
x=5
x:int=10
print (x)
10+5

10

15

In [ ]:
10 #'x'ke old value his me +5 krdu
10+ 5

In [ ]:

x=15
x=x+5
x=x-5
print (x)
x*2
x=x/3 # "ctr C"

15

3️⃣ * Comparison operators*....

In [ ]:
# **Comparison Value**

# 2 value ko campar krne wala

# ==:{Equals to}#.  Value braber h number ke
# >:{Greater than}#.value number se barri h
# <:{Less than}#. Value number se chote h
# >=:{Greater than or equals to }#.value number ke braber h ya barri h
# <=:{Less than or equals to}#. Value number se chote h ya braber h
# !:{No equals to}#.value number ke braber nhi h

In [ ]:
## Comparison operators me Answer True.false me Aata h

In [ ]:
num1:int=10
num2:int=10
print(num1+num2)

20

In [ ]:
num1:int=10
num2:int=20
print(num1>num2)

False

In [ ]:
num1:int=10
num2:int=20
print(num1<num2)

True

In [ ]:
num2=20
num1=10
print (num1-num2)
print ( num1<num2)
print (num1>num2)
print (num1<=num2)
print (num1>=num2)
print (num1==num2)

-10
True
False
True
False
False

4️⃣ *Logical Operators*....

In [ ]:
#There are 3 types of logical operators
## And
## Or
## No

#And hamey kahta h ke hr value true honi chaeye.
# agr ik bhi false ho gi to ye apply nhi hoga error Dega

 # And

In [ ]:
 # and condition
num1:int=20
num1:int=10
#num1is greator than 10
#and
#num1is less than =30
# me kha rhi ho ke num1 me zyada se zyada 10 oe km se km 30 ho to
print (num1>10 and num1<30)

False

In [ ]:
num1 = 20
num1>10==True
num1<230==False
#true or false
print (num1>10)
print (num1<20)
print (num1>30)

True
False
False

# OR

In [ ]:
# OR condition
# is me koi bhi 1 true hoga to ye hme answer true dedega
num1:int=40
# 👇is me hm and use krrhe h
print (num1>10 and num1<40)
#is ka answer false aaega
# and last me 2nd condition true honi chaeye
# jb ke Or me koi bhi 1 true ho to answer true aata h
print (num1>10 or num1<40)
print (num1<10 or num1<40)
# is me koi 1 true ho to answer true aaega

False
True
False

# * Class 4 Assignment *

**K-Electric and UPS **

In [ ]:
# is me hmare K-Electric or ups ka variable bna na h or un ko logical operators ke sath print krwana h
# Greater than>or less than < hamesha variable ke == kr ke use hote h
k_Electric="k_Electric"
ups=" no ups"
k_Electric=True # light aarhi h
ups = False # ups off h
print (k_Electric == ups)

False