<a href="https://colab.research.google.com/github/Farhanayousuf248/GIAIC-Q1_python-Agentic_AI-/blob/main/class07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DICTIONARY   method :

In [ ]:
my_dict = {
    "Farhana yousuf": 18,
    "Fiza": 24,
    "farhah":8
}

print(my_dict)

{'Farhana yousuf': 18, 'Fiza': 24, 'farhah': 8}

In [ ]:
my_list = ["Apple", "Banana", "Orange"]
output = ", ".join(my_list)
print(output)  # Output: apple, banana, orange

Apple, Banana, Orange

In [ ]:
students = ["Farhana", "Fiza", "Farha"]

student = {
    "Name": "Farhana",
    "RollNo": "350912",
    "Age": 18,
    "Class": "Sunday 7-10"
}

print("Before:", student)

student["RollNo"] = 350912  # updating RollNo to integer
print("After:", student)

Before: {'Name': 'Farhana', 'RollNo': '350912', 'Age': 18, 'Class': 'Sunday 7-10'}
After: {'Name': 'Farhana', 'RollNo': 350912, 'Age': 18, 'Class': 'Sunday 7-10'}

In [ ]:
def charger():
    print("Charge laptop")

charger()

Charge laptop

In [ ]:
def ramo_kaka():

     print("Hi!Ramo Kaka")
     print("Biryani Banao")

     return "Biryani Bangayi"




plate = ramo_kaka()
print(plate)
print("Plate Main Serve Karo")

Hi!Ramo Kaka
Biryani Banao
Biryani Bangayi
Plate Main Serve Karo

# Static Functions :

In [ ]:
a = 3
b = 2

def add():
    return a+b
sum = add()
print(sum)

5

# Dynamic Function ##

# Parameters

# Arguments

In [ ]:
def greet(name,age,RollNo):
    print("Assalam o Alekum miss",name,"Your Age is ",age,"roll no",RollNo, )

greet("Farhana yousuf",18,350912)

Assalam o Alekum miss Farhana yousuf Your Age is  18 roll no 350912

## Version 1 Static Functions

# Version 2 Dynamic Functions
# Parameters
# Arguments

# Version 2 Dynamic Functions With Return

In [ ]:
num1:int =10
num2:int = 10
def addition():
    print(num1 + num2)
    Addition()

def addition(num1:int, num2: int):
    print(num1+num2)

addition(10,10)

def addition(num1: int, num2: int):
    return num1 + num2

    print(addition(10,10))

result  = 20
result = addition(10,10)
print(result)

final_result = 20 + 20
final_result = result / 20
print(final_result)

20
20
1.0