<a href="https://colab.research.google.com/github/Farhanayousuf248/GIAIC-Q1_python-Agentic_AI-/blob/main/revision_all_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# """ 1. Python Install
#   2. CMD | python --version | python | print("Hello, World!")
# 3. VSCODE | Create Python Folder | VSCODE-File-Open Folder-Then Select New File
  
#   4. print("Hello, World!")
#   5. Folder | Upper Link | Clear Path | CMD
#   6. Variable = To Store Data """

In [ ]:
name: str = "Farhana yousuf"
age: int = 18
isActive: bool = True
print(name)
print(age)
print(isActive)

# 7. Comment

Farhana yousuf
18
True

# 8. Operators:

# || Arithmetic operators ||

In [ ]:
x = 10
y = 5
print(x + y)     #Addition       : 15
print(x - y)     #Subtraction    : 5
print(x * y)     #Multiplication : 50
print(x / y)     #Division       : 2.0
print(x // y)    #Floor Division : 2 (Decimal ko hata deta hai/ divide me upr wala)
print(x % y)     #Modulus        : 0 (remainder)
print(x ** y)    #Exponentiation :  100000 (10^3 or 10*10*10)
num1: int = 5
num2: int = 5
sum: int = num1 + num2
print(sum)

15
5
50
2.0
2
0
100000
10

# || Asignment operators ||
# Value ko assign krne k liye jo operator use hota (=)

In [ ]:
x: int = 10
x = x + 8
print(x)

18

""" || Comparison operators || True/False

       == (equal to)
       >  (greater than)
       < (less than)
       >= (greater than equal to)
       <= (less than equal to)
       != (not equal to)
"""

In [ ]:
num1: int = 10
num2: int = 20
print(num1 == num2)  #False
print(num1 > num2)   #False
print(num1 < num2)   #True
print(num1 >= num2)  #False
print(num1 <= num2)  #True
print(num1 != num2)  #True

False
False
True
False
True
True

# || Logical operators ||
# and, or, not

# condition (and)

In [ ]:
num1: int = 40
num2: int = 11
print(num1 > 10 and num1 < 30) #False
# num1 is greater than 10 AND num1 is less than 30
# (and) condition me puri condition thek honi chahiye


# condition (or)
num1: int = 40
num2: int = 11
print(num1 > 10 or num1 < 30) #True
# (or) condition me koi ek thek honi chahiye

#Ghar py 2 cheezen hain ek ups and ek k_electric
k_electric = "no k_electric"
ups = "no ups"
print(k_electric == "no k_electric" or ups != "no ups")

#condition (not)
# condition true hogi to false hojaegi or agr false hogi to true hojaegi

# || IF ELSE ||
#   if - agr
#   else - wrna

#indentations - Double space sy if k bad wali line me jo bhi likhogy to if ki condition me aega

In [ ]:
num1: int = 2
num2: int = 1
if num1>1:
    print("salam")
    fav_teacher="sir ameen"
    print(fav_teacher)

salam
sir ameen